/* WEB  */
@media only screen and (min-width: 800px)
{
	#boton_favorito
	{
		float: left;
		width: 30px;
		margin: 0.5em;
	}

	#boton_marcador
	{
		float: left;
		margin: 7px 4px;
		margin: 0.5em 1.2em;
		width: 27px;
	}

	#hola
	{
		display: block;
		z-index: 9;
		position: absolute;
		width: 95%;
		top: 10%;
		left: 2.5%;
	}

	#hola header
	{
		text-align: center;
		margin-bottom: 2em;
		margin-top: 0.2em;
		margin-left: 0.3em;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 90%;
		overflow-y: scroll;
		overflow-x: hidden !important;
	}
	
}
/*---Ipad 3 --*/
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2)
{
 #backlogosindex
	{
		width: 100%;
		position: absolute;
		top: 58em;
		z-index: -1;
	}
    
	#backlogosindex-text
	{
		color: white;
		font-size: 1.3em;
	}
	#backlogosindex-img2
	{
		width: 10em;
	}
	#backlogosindex-img3
	{
		width: 8em;
	}
	#backlogosindex-img1
	{
		width: 8em;
	}
    
	#tabstrip-home
	{
		font-size: 200%;
	} 
        
	#boton_favorito
	{
		//margin-right: -15%;
		float: left;
		width: 30px;
		margin: 0.6em -0.5em;
	}

	#boton_marcador
	{
		/*margin-right: -5%; */
		float: left;
		margin: 7px 4px;
		margin: 0.5em 1.2em;
		width: 27px;
	}   
    
	#modalview-list-anexos
	{
		height: 39em;
	}
    
	.km-root .km-ios .km-modalview
	{
		width: 98%;
		height: 70em;
	}
        
	#bk-image
	{
		width: 100%;
		position: absolute;
		z-index: 0;
		top: 180%;
	}
    
	#logos
	{
		position: absolute;
		z-index: 3;
		text-align: center;
		width: 100%;
		top: 320%;
	}

	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
    
	#img-tabla
	{
		display: inline;
		min-width: 95%;
		margin-top: 1%;
	}
        
	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 20%;
		left: 5%;
		/*determinamos una anchura*/
		width: 500px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.km-rightitem > a > .info
	{
		width: 0;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 34em;
		overflow-y: scroll;
		overflow-x: hidden !important;
		margin-left: 1%;
		margin-right: 1%;
	}

}

/*----Ipadd----*/
@media only screen and (min-width: 700px) and (max-width: 1024px)
{
	#backlogosindex
	{
		width: 100%;
		position: absolute;
		top: 58em;
		z-index: -1;
	}
    
	#backlogosindex-text
	{
		color: white;
		font-size: 1.3em;
	}
	#backlogosindex-img2
	{
		width: 10em;
	}
	#backlogosindex-img3
	{
		width: 8em;
	}
	#backlogosindex-img1
	{
		width: 8em;
	}
    
	#tabstrip-home
	{
		font-size: 200%;
	} 
        
	#boton_favorito
	{
		//margin-right: -15%;
		float: left;
		width: 30px;
		margin: 0.6em -0.5em;
	}

	#boton_marcador
	{
		/*margin-right: -5%; */
		float: left;
		margin: 7px 4px;
		margin: 0.5em 1.2em;
		width: 27px;
	}   
    
	#modalview-list-anexos
	{
		height: 39em;
	}
    
	.km-root .km-ios .km-modalview
	{
		width: 98%;
		height: 70em;
	}
        
	#bk-image
	{
		width: 100%;
		position: absolute;
		z-index: 0;
		top: 180%;
	}
    
	#logos
	{
		position: absolute;
		z-index: 3;
		text-align: center;
		width: 100%;
		top: 320%;
	}

	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
    
	#img-tabla
	{
		display: inline;
		min-width: 95%;
		margin-top: 1%;
	}
        
	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 20%;
		left: 5%;
		/*determinamos una anchura*/
		width: 500px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.km-rightitem > a > .info
	{
		width: 0;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 34em;
		overflow-y: scroll;
		overflow-x: hidden !important;
		margin-left: 1%;
		margin-right: 1%;
	}

}

/*----Tablets----*/
@media only screen and (min-width: 500px) and (max-width: 699px)
{
	#backlogosindex
	{
		width: 100%;
		position: absolute;
		top: 60em;
		z-index: -1;
	}
    
	#backlogosindex-text
	{
		color: white;
		font-size: 1.3em;
	}
	#backlogosindex-img2
	{
		width: 10em;
	}
	#backlogosindex-img3
	{
		width: 8em;
	}
	#backlogosindex-img1
	{
		width: 8em;
	}
	#tabstrip-home
	{
		font-size: 200%;
	}
    
	.km-root .km-ios .km-modalview
	{
		width: 98%;
		height: 90%;
	}
    
	#bk-image
	{
		/*top: 130%;*/
	}
	
	#boton_favorito
	{
		//margin-right: -15%;
		float: left;
		width: 30px;
		margin: 0.6em -0.5em;
	}

	#boton_marcador
	{
		/*margin-right: -5%; */
		float: left;
		margin: 7px 4px;
		margin: 0.5em 1.2em;
		width: 27px;
	}
	#modalview-anexos
	{
		height: 70em;
	}
    
	#logos
	{
		
		z-index: 3;
		/*top: 195%;*/
		text-align: center;
		width: 100%;
		bottom: 5%;
		position: absolute;
	}
    
	.taulas
	{
		display: inline;
		min-width: 90%;
	}
    
	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
    
	#somiza-fixed
	{
		position: absolute;
		bottom: 10%;
	}
    
	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 20%;
		left: 50%;
		/*determinamos una anchura*/
		width: 400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left: -200px;
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 34em;
		overflow-y: scroll;
		overflow-x: hidden !important;
		margin-left: 1%;
		margin-right: 1%;
	}

}

/*----Androids----*/
@media only screen and (min-height: 480px) and (max-width: 500px)
{
	.km-view
	{
		top: 0;
		left: 0.5%;
	}
	#backlogosindex
	{
		width: 100%;
		position: absolute;
		top: 23em;
		z-index: -1;
	}
    
	#backlogosindex-text
	{
		color: white;
		font-size: 0.9em;
	}
	#backlogosindex-img2
	{
		width: 7em;
	}
	#backlogosindex-img3
	{
		width: 5em;
	}
	#backlogosindex-img1
	{
		width: 5em;
	}
	#red h4
	{
		padding: 0px; 
		margin: 0px;
		max-width: 85%;
	}
	
	.km-rightitem
	{
		width: auto;
	}
	
	.BotonBuscar
	{
		margin-right: 0.4em;
	}
    
	.km-root .km-ios .km-modalview
	{
		width: 98%;
		height: 90%;
	}
   
	#bk-image
	{
		top: 130%;
	}
    
	#bk-image
	{
		width: 100%;
		z-index: 0;
		position: absolute;
		top: 110%;
	}
    
	#logos
	{
		z-index: 3;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 180%;
	}

	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
    
	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 40%;
		left: 50%;
		/*determinamos una anchura*/
		width: 400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left: -200px;
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 25.4em;
		margin-left: 2%;
		margin-right: 2%;
		overflow-y: scroll;
		overflow-x: hidden !important;
	}
    
	#modalview-anexos
	{
		height: 33em;
	}
  
}

/*----iPhone5----*/
@media only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)
{
	.km-view
	{
		top: 0;
		left: 0.5%;
	}
    
	#modalview-anexos
	{
		height: 33em;
	}
    
	#backlogosindex
	{
		width: 100%;
		position: absolute;
		z-index: -1;
		top: 27em;
	}
    
	#backlogosindex-text
	{
		font-size: 0.8em;
		color: white;
	}
	#backlogosindex-img2
	{
		width: 5em;
	}
	#backlogosindex-img3
	{
		width: 4em;
	}
	#backlogosindex-img1
	{
		width: 4em;
	}
	#red h4
	{
		padding: 0px; 
		margin: 0px;
		max-width: 85%;
	}
	.km-rightitem
	{
		width: auto;
	}
	.BotonBuscar
	{
		margin-right: 0.4em;
	}
	#bk-image
	{
		top: 130%;
	}
    
	#logos
	{
		/*position: absolute; */
		z-index: 3;
		/*top: 170%;*/
		text-align: center;
		width: 100%;
	}

	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 40%;
		left: 50%;
		/*determinamos una anchura*/
		width: 400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left: -200px;
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 25.4em;
		margin-left: 2%;
		margin-right: 2%;
		overflow-y: scroll;
		overflow-x: hidden !important;
	}
	    
}
/*--- Iphone4---*/
@media only screen and (max-height: 480px)
{
	.km-view
	{
		top: 0;
		left: 0.5%;
	}
	#backlogosindex
	{
		width: 100%;
		position: absolute;
		z-index: -1;
		top: 21em;
	}
    
	#backlogosindex-text
	{
		font-size: 0.8em;
		color: white;
	}
	#backlogosindex-img2
	{
		width: 5em;
	}
	#backlogosindex-img3
	{
		width: 4em;
	}
	#backlogosindex-img1
	{
		width: 4em;
	}
    
	#red h4
	{
		padding: 0px; 
		margin: 0px;
		max-width: 85%;
	}
	
	.km-rightitem
	{
		width: auto;
	}
	.BotonBuscar
	{
		margin-right: 0.4em;
	}

	#logos
	{
		position: absolute; 
		z-index: 3;
		text-align: center;
		width: 100%;
	}
    
	#somiza-fixed
	{
		text-align: center;
		margin-top: 80%;
	}

	#logos img
	{
		margin-left: 5%;
		margin-right: 5%;
	}
    
	.expandable, .collapsable
	{
		margin-right: 20%;
	}

	.popup
	{
		position: absolute;
		display: none;
		z-index: 999;
		/*nos posicionamos en el centro del navegador*/
		top: 40%;
		left: 65%;
		/*determinamos una anchura*/
		width: 400px;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left: -200px;
		/*determinamos una altura*/
		height: 75%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top: -150px;
		border: 1px solid #808080;
		padding: 5px; 
		-webkit-border-radius: 7px 8px 8px 7px/8px;
		-moz-border-radius: 7px 8px 8px 7px/8px;
		border-radius: 7px 8px 8px 7px/8px;
	}

	.into-tip
	{
		-webkit-border-radius: 0px 0px 8px 7px/8px;
		-moz-border-radius: 0px 0px 8px 7px/8px;
		border-radius: 0px 0px 8px 7px/8px;
		background-color: #dcdfe5;
		-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, .38);
		height: 25.4em;
		margin-left: 2%;
		margin-right: 2%;
		overflow-y: scroll;
		overflow-x: hidden !important;
	}
    
	#modalview-anexos
	{
		height: 33em;
	}

}

li
{
	cursor: pointer;
}

input[type="search"]
{
	width: 100%;
	-webkit-border-radius: 29px;
	-moz-border-radius: 29px;
	border-radius: 29px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 3px 6px rgba(35, 31, 32, .5);
	-moz-box-shadow: inset 0 3px 6px rgba(35, 31, 32, .5);
	box-shadow: inset 0 3px 6px rgba(35, 31, 32, .5);
	border: solid 1px #61748e;
	margin-right: 1%;
}

.unselectidio:after
{
	content: url('/kendo/styles/images/Boton-Off.png');
	margin-left: 80%;
	width: 1px;
	height: 1px;
	display: inline;
}

.selectidio:after
{
	content: url('/kendo/styles/images/Boton-On.png');
	margin-left: 80%;
	width: 1px;
	height: 1px;
	display: inline;
}

.div-into-input
{
	padding: 0.5%;
	-webkit-border-radius: 7px 8px 0px 0px;
	-moz-border-radius: 7px 8px 0px 0px;
	border-radius: 7px 8px 0px 0px;
	background-color: #fffcfc;
	-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .38);
	-moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .38);
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .38);
	background-image: -webkit-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -moz-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -o-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -ms-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: linear-gradient(to top, #a8acb9, #f2f3f5);
}

.lectura > p
{
	margin: 0;
	padding: 0;
}

b
{
	font-weight: bold;
}

.lectura > b
{
	font-weight: bold;
}

.nozoomed
{
	height: 100%;
	width: 100%;
}

.linktable
{
	font-weight: bold;
}

.buscar-content-anexo{
    -webkit-border-radius: 8px 7px 0 0/8px 8px 0 0;
	-moz-border-radius: 8px 7px 0 0/8px 8px 0 0;
	border-radius: 8px 7px 0 0/8px 8px 0 0;
	background-color: #fffcfc;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.38);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.38);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.38);
	background-image: -webkit-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -moz-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -o-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: -ms-linear-gradient(bottom, #a8acb9, #f2f3f5);
	background-image: linear-gradient(to top, #a8acb9, #f2f3f5);
    margin-left: 2%;
    margin-right: 2%;
}


.buscar-content
{
	border-bottom: 2px solid rgba(30, 30, 31, .8);
	border-top: 2px solid rgba(255, 255, 255, .3);
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #db002f, #fd2a57 49%, #fe4a70 51%, #fd2352);
	background-image: -moz-linear-gradient(bottom, #db002f, #fd2a57 49%, #fe4a70 51%, #fd2352);
	background-image: -o-linear-gradient(bottom, #db002f, #fd2a57 49%, #fe4a70 51%, #fd2352);
	background-image: -ms-linear-gradient(bottom, #db002f, #fd2a57 49%, #fe4a70 51%, #fd2352);
	background-image: linear-gradient(to top, #db002f, #fd2a57 49%, #fe4a70 51%, #fd2352);
}

#rectangulo-eliminar
{
	text-align: center;
	display: none;
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #b4bec5, #e0e4e6);
	background-image: -moz-linear-gradient(bottom, #b4bec5, #e0e4e6);
	background-image: -o-linear-gradient(bottom, #b4bec5, #e0e4e6);
	background-image: -ms-linear-gradient(bottom, #b4bec5, #e0e4e6);
	background-image: linear-gradient(to top, #b4bec5, #e0e4e6);
	width: 100% !important;
}

#boton-eliminar
{
	margin-top: 1%;
	margin-bottom: 1.5%;
	font-family: Helvetica;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 -2px rgba(0, 0, 0, .6);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #81858b;
	-webkit-box-shadow: 0 1px rgba(255, 255, 255, .36), inset 0 2px 2px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 1px rgba(255, 255, 255, .36), inset 0 2px 2px rgba(0, 0, 0, .7);
	box-shadow: 0 1px rgba(255, 255, 255, .36), inset 0 2px 2px rgba(0, 0, 0, .7);
	border: solid 1px #333;
	background-image: -webkit-linear-gradient(bottom, #ec1113, #e10111 50%, #e73542 51%, #f08189);
	background-image: -moz-linear-gradient(bottom, #ec1113, #e10111 50%, #e73542 51%, #f08189);
	background-image: -o-linear-gradient(bottom, #ec1113, #e10111 50%, #e73542 51%, #f08189);
	background-image: -ms-linear-gradient(bottom, #ec1113, #e10111 50%, #e73542 51%, #f08189);
	background-image: linear-gradient(to top, #ec1113, #e10111 50%, #e73542 51%, #f08189);
}

.eliminables:before
{
	content: url('images/no-selected.png');
	padding-right: 1.5%;
	padding-top: 0.5%;
    vertical-align: middle;
}
        
.eliminables-selected:before
{
	content: url('images/selected.png');
	padding-right: 1.5%;
	padding-top: 0.5%;
}

.clicked
{
	background-color: #FFBABA; 
}

.km-content.km-scroll-wrapper.km-insetcontent
{
	margin-bottom: 0.5%;
}

#red
{
	font-size: 120%;
	font-family: Helvetica;
	font-weight: lighter;
	color: #000000;
}

#div-list-favoritos
{
	padding: 0; 
}

#div-list-favoritos > li
{
	border-bottom: 1px solid silver;
    background-color: #FFFFFF;
}

#list-popup
{
	padding-right: 1%;
	padding-left: 1%;
	margin-top: 2%;
}
#list-popup ul
{
	display: block; background: #fff; border: 1px solid #adadad;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	list-style: none;
	padding: 0;
}
#list-popup ul li { padding: 10px 15px; border-top: 1px solid #adadad; }
#list-popup ul li:first-child { border: 0; }
#list-popup ul li:hover { background: #eee; }
#list-popup ul li span { float: right; }

#list-idiomas
{
	margin: 2%;
}

#list-idiomas ul
{
	display: block; background: #fff; border: 1px solid #adadad;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	list-style: none;
	padding: 0px;
}
#list-idiomas ul li { padding: 10px 15px; border-top: 1px solid #adadad; }
#list-idiomas ul li:first-child { border: 0; }
#list-idiomas ul li:hover { background: #eee; }
#list-idiomas ul li span { float: right; }

.arrow
{
	float: right;
	margin-right: 5%;
}

.ocupado
{
	background-color: #570618;
}

*.resaltarTexto
{
	background-color: yellow;
}

*.highlight
{
	background-color: yellow;
}

#list-anexoss ul{
    border: 0;
}

#list-anexoss ul li{
    border-top: 0;
}

#tools
{
	float: right;
	margin-right: 0.5em;
}

.k-animation-container
{
	top: 1px;
	height: auto;
}

.titulo
{
	color: #7C031E;
	font-family: Helvetica;
	font-weight: bold;
	font-stretch: condensed;
}

.titulo h4
{
	float: left;
}

.collapsable > .icono-lista
{
	background-image: url('kendo/styles/images/minus.png');
}

.treeview, .treeview ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul
{
	background-color: transparent;
	margin-top: 4px;
}

.treeview .hitarea
{
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}

.treeview li
{
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected
{
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: #BD072F; cursor: pointer; }

.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview .placeholder
{
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }

/*-----------------------*/

.css-treeview input + label + ul
{
	display: none;
}

.css-treeview input:checked + label + ul
{
	display: block;
}

.css-treeview input
{
	position: absolute;
	opacity: 0;
}

.css-treeview input:checked:not(:disabled) + label + ul
{
	display: block;
}

.css-treeview input:disabled + label
{
	cursor: default; /* or no-drop */
	opacity: .6;
}

.css-treeview label:before
{
	content: "";
	width: 16px;
	margin: 0 22px 0 0;
	vertical-align: middle;
	background-position: 0 -32px;
}

.css-treeview input:checked + label:before
{
	background-position: 0 -16px;
}

/* ---------------------------------*/

#txtName
{
	border: 1px solid #AAA;
	border-radius: 15px;
	position: static;
	margin-left: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	background: white;
	color: black;
	padding: 7px;
}

.bottom { position: fixed; position: relative; width: 100%; bottom: 0; padding: 0; margin: 0; }

#bk-image
{
	width: 100%;
	/*position: absolute;*/
	z-index: 0;
}

#bk-logos
{
	z-index: 2;
	position: absolute;
	top: 185%;
	left: 3%;
}

#bk-logos img
{
	width: 25%;
	padding-right: 10%;
}    

.km-ios .km-view .km-content
{
	/*background-color: #BD072F; */
	font-family: Helvetica;
	/*font-size: 90%; */
	font-weight: 300;
	font-style: normal;
	line-height: normal;
}

.km-ios .km-view .km-content .km-listgroupinset .km-group-title .km-text
{
	color: rgb(255, 255, 255);
}
.km-ios .km-view .km-navbar
{
	background-color: rgb(219, 0, 47);
	/*
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .35)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	*/
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-ios .km-view .km-navbar .km-button
{
	background-color: rgb(236, 12, 60);
}
.km-ios .km-view .km-tabstrip
{
	background-color: rgb(254, 100, 133);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-ios .km-view .km-tabstrip .km-button .km-icon
{
	color: rgb(255, 177, 194);
}
.km-ios .km-view .km-tabstrip .km-button .km-text
{
	color: rgb(204, 204, 204);
}
.km-ios .km-view .km-content .km-list .km-state-active .km-listview-link
{
	background-color: rgb(249, 35, 81);
}
.km-ios .km-view .km-tabstrip .km-state-active span.km-icon
{
	color: rgb(249, 35, 81);
}
.km-android .km-view .km-content
{
	background-color: rgb(219, 0, 47);
	font-family: Helvetica;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-shadow: none;
}

.tabla-apartado
{
	color: #BD072F;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

#anexview-contenido
{
	text-align: justify; 
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
	font-family: Helvetica;
	height: 100%;
	color: black;
}

.lectura
{
	background-color: rgb(255, 255, 255);
	font-family: Helvetica;
	/*font-weight: bold;*/
	font-stretch: condensed;
	color: black;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	height: 100%;
	text-align: justify; 
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
}

.km-android .km-view .km-content .km-listgroupinset .km-group-title .km-text
{
	color: rgb(255, 255, 255);
}
.km-android .km-view .km-navbar
{
	background-color: rgb(219, 0, 47);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .35)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-android .km-view .km-navbar .km-button
{
	background-color: rgb(254, 100, 133);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-android .km-view .km-tabstrip
{
	background-color: rgb(254, 99, 132);
}
.km-android .km-view .km-tabstrip .km-button .km-icon
{
	color: rgb(255, 177, 194);
}
.km-android .km-view .km-tabstrip .km-state-active span.km-icon
{
	color: rgb(249, 35, 81);
}
.km-android .km-view .km-navbar .km-button.km-state-active
{
	background-color: rgb(249, 35, 81);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .4)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-android .km-view .km-content .km-listgroup .km-group-title .km-text
{
	color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-content
{
	background-color: rgb(219, 0, 47);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, 0)), color-stop(1, rgba(255, 255, 255, .2)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, 0), rgba(255, 255, 255, .2));
	background-repeat-x: repeat, repeat;
	background-repeat-y: repeat, repeat;
	background-position-x: 0px, 0%;
	background-position-y: 0px, 0%;
	font-family: Helvetica;
	font-size: 9px;
	font-weight: normal;
	font-style: normal;
	line-height: normal;
	text-shadow: none;
}
.km-blackberry .km-view .km-content .km-listgroupinset .km-group-title .km-text
{
	color: rgb(255, 255, 255);
}
.km-blackberry .km-view .km-navbar
{
	background-color: rgb(219, 0, 47);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(0, 0, 0, .2)), color-stop(.5, rgba(0, 0, 0, .35)), color-stop(.5, rgba(0, 0, 0, .45)), color-stop(1, rgba(0, 0, 0, .4)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, .35) 50%, rgba(0, 0, 0, .45) 50%, rgba(0, 0, 0, .4));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
}
.km-blackberry .km-view .km-navbar .km-button
{
	background-color: rgb(236, 12, 60);
}
.km-blackberry .km-view .km-tabstrip
{
	background-color: rgb(254, 99, 132);
}
.km-blackberry .km-view .km-tabstrip .km-button .km-icon
{
	color: rgb(255, 177, 194);
}
.km-blackberry .km-view .km-tabstrip .km-state-active span.km-icon
{
	color: rgb(249, 35, 81);
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, rgba(255, 255, 255, .5)), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(1, rgba(255, 255, 255, .5)));
	background-image: -moz-linear-gradient(50% 0, 50% 100%, rgba(255, 255, 255, .5), rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .5));
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-position-x: 0px;
	background-position-y: 0px;
	background-color: rgba(0, 0, 0, 0);
}
.km-blackberry .km-view .km-navbar .km-view-title > *
{
	color: rgb(255, 255, 255);
}

.BotonNext
{
	background: url('images/next.png') no-repeat !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none !important;
	width: 27px;
	height: 27px;
	background-color: rgba(255, 255, 255, 0) !important;
	box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	float: right;
	cursor: pointer;
}

.BotonNext:active
{
	background: url('images/next-2.png') no-repeat !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none !important;
	width: 27px;
	height: 27px;
	background-color: rgba(255, 255, 255, 0) !important;
	box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	float: right;
	cursor: pointer;
}

.BotonPrev
{
	background: url('images/back.png') no-repeat !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none !important;
	width: 27px;
	height: 27px;
	background-color: rgba(255, 255, 255, 0) !important;
	box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	float: left;
	cursor: pointer;
}

.BotonPrev:active
{
	background: url('images/back-2.png') no-repeat !important;
	background-size: 100%;
	background-repeat: no-repeat;
	border: none !important;
	width: 27px;
	height: 27px;
	background-color: rgba(255, 255, 255, 0) !important;
	box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	-webkit-box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.3) !important;
	float: left;
	cursor: pointer;
}